.contactsBlock {
    height: 100vh;
    background-color: #262626;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.contactsBlock form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    width: 500px;
}

.contactsBlock form textarea, input, button {
    margin: 10px;
}

@media screen and (max-width: 622px) {
    .contactsBlock form {
        width: 100%;
    }
}