.contactsBlock {
    height: 100vh;
    background-color:magenta ;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: brown;
}

.contactsBlock form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    min-width: 250px;
}

.contactsBlock form textarea, input, button {
    margin: 10px;
}