.skillsBlock {
    min-height: 100vh;
    background-color: #323232;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: chartreuse;
}

.skills {
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 938px) {
    .skills {
        justify-content: space-around;
    }
}
