@import "../../common/styles/sass/variables";

.project {
  margin: 5px;
  width: 500px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .imgContainer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    ::before {
      position: absolute;
      content: "";
      background-color: #262626;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
    }

    .button {
      position: relative;
      z-index: 1;
      padding: 5px;
      height: 40px;
      background-color: $buttonColor;
      color: $buttonTextColor;
    }
  }

  .projectInfo {
    padding: 20px 25px;

    .projectTitle {
      font-size: 35px;
    }

    .description {
      font-size: 28px;
      color: $projectDescriptionColor;
    }

  }
}











