.project {
    width: 350px;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {

}

.imgContainer {
    width: 285px;
    height: 250px;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project button {
    height: 30px;
    border-radius: 3px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}