.projectBlock {
    min-height: 100vh;
    background-color: #666666;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*
    align-items: flex-start;
    */
}

@media screen and (max-width: 1312px) {
    .projects {
        justify-content: space-around;
    }
}
